:root{
    --blue: #79c6e4;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: url(/image/bg.jpg);
    background-size: 100% cover;

}

.main{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.main .user img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--blue);
}

.main .user .name{
    font-size: 1rem;
    color:#fff;
}

.main.user .post{
    font-size: 2rem;
    color:#eee;
}
