@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
    padding: 0;
    margin: 0;
    
}

body{
  background: url(/image/ballon.jpg);
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav{
  width: 80%;
  position: sticky;
  margin: 20px auto;
}

.nav-links ul{
  margin-right: 50px;
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.nav-links ul li a{
  color: #333;
}